<%- include('partials/header') %>

<div class="container mt-3 text-center">
    <% if (chats) { %>
    <% chats.forEach(function(chat){ %>
    <div class="row">
        <div class="col-sm-6 text-left">
            <div class="media mt-4">
                <img src="<%= chat.chatmate.image %>" id="chatImg" class="rounded mr-4"
                    style="height: 72px; width: 72px;">
                <% if (chat.gotNewMsg) { %>
                <i class="fa fa-circle text-danger"></i>
                <% } %>
                <div style="margin-left: 120px;">
                        <p><%=chat.chatmate.username%> </p>
                        <a href="/chat/<%= chat.chatmate._id %>/<%= chat.chatmate.username %>">
                        <p class="text-left">
                            <%= iif(chat.messages[chat.messages.length-1].sender._id.toString() === chat.chatmate._id.toString(), chat.chatmate.username+':  ', 'Me:')%>
                            <%= chat.messages[chat.messages.length-1].message%>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <% }); %>
    <% } %>
</div>

<%- include('partials/footer') %>