<%- include('partials/header1') %>

<div class="container-fluid mt-3 text-left">

    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm-8">
            <h5 class="text-center"><%=chat.name%></h5>
            <div id="panel" style="height: 500px;">
                <% if (chat.messages) { %>
                <% const myuser = user._id %>
                <% chat.messages.forEach(function(message){ %>
                <div class="media p-0"
                    style="background-color:<%= iif(message.sender._id.toString() == myuser.toString(),'LightGreen','LightGrey')%>">
                    <a href="/userProfile/<%= message.sender._id %>">
                        <img src="<%=message.sender.image%>" class="mr-3 rounded-circle img-fluid"
                            style="width:50px;height:50px;">
                    </a>
                    <div class="media-body">
                        <small class="mt-0" style="color:grey"><%=message.sender.username%>
                            - <%=message.date.toLocaleString("en-US", {month:'short',day:'numeric'})%></small>
                        <p><%=message.text%></p>
                    </div>
                </div>
                <hr class="my-1">
                <% }); %>
                <% } %>
            </div>
            <br>
            <form action="/chat/<%=chat._id%>/" method="POST">
                <input type="text" class="form-control" name="text" placeholder="Type message ..">
                <br>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>

        <div class="col-sm">

        </div>

    </div>

</div>

<script>
    $('#panel').animate({ scrollTop: 1000000 }, 1200);

</script>


<%- include('partials/footer') %>