<%- include('partials/header1') %>

<div class="container mt-3 iForm">
    <a href="/chatGroup">
        <button type="button" class="btn btn-link mt-2">New Chat Group</button>
    </a>
    <div class="row text-left">

        <% if (chats) { %>
        <% chats.forEach(function(chat){ %>
        <a href="/chat/<%= chat._id %>">
            <div class="media my-2 border-bottom">
                <% if (chat.gotNewMsg) { %>
                <small><i class="fa fa-circle text-danger"></i></small>
                <% } %>
                <img src="<%=chat.image%>" class="mr-3 rounded-circle img-fluid" style="width:50px;height:50px;">

                <div class="media-body mb-2 ">
                    <h5 class="mt-0"><%=chat.name%></h5>
                    <%= chat.messages[0].sender.username%>: <%= chat.messages[0].text%>
                </div>

            </div>
        </a>
        <!-- <hr> -->
        <% }); %>
        <% } %>

    </div>

</div>

<%- include('partials/footer') %>