<%- include('partials/header') %>

<div class="container-fluid mt-3 text-left">

    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm-8">
            <h5 class="text-center"><%=receiverName%></h5>
            <div id="panel">
                <% if (chat) { %>
                <% const myuser = user._id %>
                <% chat.messages.forEach(function(oneMessage){ %>
                <div class="media mt-2"
                    style="background-color:<%- iif(oneMessage.sender._id.toString() === myuser.toString(),'LightGreen','Azure')%>">
                    <a href="/userProfile/<%= chat.sender %>}">
                        <img src="<%=oneMessage.sender.image%>" class="mr-3 rounded-circle" width="64" height="64">
                    </a>
                    <div class="media-body">
                        <small class="mt-0" style="color:grey"><%=oneMessage.sender.username%>
                            - <%=oneMessage.date.toLocaleString("en-US", {month:'short',day:'numeric'})%></small>
                        <p><%=oneMessage.message%></p>
                    </div>
                </div>
                <hr>
                <% }); %>
                <% } %>
            </div>
            <% if (chat) { %>
            <form action="/chat/<%=chat.chatmate._id%>/<%=receiverName%>" method="POST">
                <% } else {%>
                <form action="/chat/<%=receiverId%>/<%=receiverName%>" method="POST">
                    <% } %>
                    <input type="text" class="form-control" name="message" placeholder="Type message ..">
                    <br>
                    <button class="btn btn-primary" type="submit">Send</button>
                </form>
        </div>

        <div class="col-sm">

        </div>

    </div>

</div>

<script>
    $('#panel').animate({ scrollTop: 1000000 }, 1200);

</script>


<%- include('partials/footer') %>