<%- include('partials/header') %>

<div class="container mt-3">
    <% if (contacts) { %>
    <% contacts.forEach(function(contact){ %>
    <div class="row">
        <div class="col-sm-6">
            <a href="/userProfile/<%= contact.contacts.contactUser._id %>">
                <p>
                    <img src="<%= contact.contacts.contactUser.image %>" class="roundedImg mr-4">
                    <%=contact.contacts.contactUser.firstname%>
                </p>
            </a>
        </div>
    </div>
</div>
<hr>
<% }); %>
<% } %>
</div>

<%- include('partials/footer') %>