<%- include('partials/header') %>
<div class="container mt-5 text-center">
<div class="row">
  <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <a href="/uploadImage">
                  <img class="card-img-top" src="<%=user.image%>" alt="...">
              </a>
              <div class="card-body">
          </div>
      </div>
  </div>
  <div class="col-sm">
      <h5 class="card-title">Firstname: <%=user.firstname%></h5>
      <p class="card-text">Email: <%=user.email%></p>
  </div>
</div>
</div>

<%- include('partials/footer') %>