<%- include('partials/header') %>

<div class="container mt-3 text-center">
    <% users.forEach(function(user){ %>
    <a href="/userProfile/<%= user._id %>">
        <div class="row">
            <div class="col-sm-3">
                <div class="media">
                    <img src="<%= user.image %>" class="roundedImg">
                    <div class="media-body">
                        <p><%=user.firstname%> <%=user.lastname%></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <hr>
    <% }); %>
</div>

<%- include('partials/footer') %>