<%- include('partials/header') %>
<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-sm">

    </div>

    <div class="col-sm">

      <h3 class="text-center mt-3"> My Account </h3>
      <div class="ml-5" style="width: 10rem;">
        <img class="card-img-top" id="uploadpic" src="<%=user.image%>">
      </div>
      <form method="POST" action="/updateInfo" enctype="multipart/form-data" id="uploadForm" onchange="formChange()">
        <input type="file" name="avatar" onchange="showpic(this);">
        <hr>
        <div class="row mt-4">
          <div class="col">
            <input type="text" name="firstname" value=<%=user.firstname%> class="form-control" placeholder="First Name"
              required>
          </div>
          <div class="col">
            <input type="text" name="lastname" value=<%=user.lastname%> class="form-control" placeholder="Last Name"
              required>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <select name="gender" id="gender" class="form-control">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="col">
            <input type="number" name="birthyear" value=<%=user.birthyear%> class="form-control"
              placeholder="Year of Birth" min="1950" max="2005" required>
          </div>
        </div>
        <input type="email" name="email" value=<%=user.email%> class="form-control mt-4" placeholder="Email" required>
        <div class="form-group mt-4">
          <select name="status" id="status" class="form-control">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>

        <p class="text-success mt-4" id="message" style="display:block;"><%= message %></p>
        <button class="btn btn-primary btn-block mt-4" id="button" type="submit">Save</button>
      </form>

    </div>

    <div class="col-sm">
    </div>

  </div>
</div>

<script>
  function showpic(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#uploadpic')
          .attr('src', e.target.result)
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function formChange() {
    document.getElementById('message').innerHTML = '';
  }

  $(document).ready(function () {

    const gender = document.getElementById('gender').options;
    for (i = 0; i < gender.length; i++) {
      if (gender[i].value === "<%=user.gender%>") {
        gender[i].selected = true;
      }
    }

    const status = document.getElementById('status').options;
    for (i = 0; i < status.length; i++) {
      if (status[i].value === "<%=user.status%>") {
        status[i].selected = true;
      }
    }
  });

</script>

<%- include('partials/footer') %>