<%- include('partials/header1') %>
<h3 class="mt-3">Contacts</h3>

<div class="container mt-3 text-center iForm">
    <div class="row">
        <% user.contacts.forEach(function(contact){ %>
        <a href="/userPage/<%= contact._id %>">
            <div class="media">
                <img src="<%= contact.image %>" class="mr-5 mb-1" width="50" height="50">
                <div class="media-body mt-2">
                    <h5 class="mt-0 ml-5"><%= contact.username %></h5>
                </div>
                <hr>
            </div>
            <input type="hidden" id="contact" value="<%= contact._id %>">
        </a>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>