<%- include('partials/header1') %>

<div class="card mt-4 ml-4" style="width: 18rem;">
    <img class="card-img-top" src="<%=oneUser.image%>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%=oneUser.firstname%> <%=oneUser.lastname%></h5>
        <a href="/chat/<%=oneUser._id%>/<%=oneUser.firstname%>" class="btn btn-primary">Send Message</a>
    </div>
</div>


<%- include('partials/footer') %>